// webpack.config.js
module.exports = {
  ...
  module: {
    loaders: [{
      ... // other loaders
    , {
      test: /\.css$/,  // target: css files
      loaders: ['style', 'css'], // use both loaders
      exclude: /node_modules/   // 不要處理 3rd party 的 code
    }]
  }
};