// 狀態
$ git status
$ git diff
$ git log

// 加入和 commit
$ git add <檔案>
$ git commit -m "commit message"

// 打掉重練
$ git reset --hard
$ git checkout -- <檔案>

// 遠端溝通
$ git push origin <master>
$ git pull origin <master>
