class Hello extends React.Component {
  render() {
    // 包進 div
    return (
      <div>
        <div>Hello World</div>
        <div>Hello World</div>
        <div>Hello World</div>
      </div>
    );
  }
}